# OSX
.DS_Store
.Trashes
.swp

# Python
*.pyc

# Java
.idea
target/

# Large JAR
DL4JSparkJAR/

.iml
.gradle/
build/
data/
data/features/
mid_features4000.txt
mid_noh_features4000.txt
window_features4000.txt
pca_window40_features4000.txt
window_noh_features4000.txt
