<h3>&nbsp &nbsp Job Submitted!</h3>
<form action='/job_form'>
<button type="submit" class="btn">Submit Another Job</button><br><br>
</form>
<form action='/job_grouping'>
<button type="submit" class="btn">Group Jobs</button>
</form>
